{% extends 'base.html.twig' %}

{% block title %}Éditer un item{% endblock %}

{% block body %}
<div class="container mx-auto mt-8 p-6 bg-white rounded-lg shadow-md">
    <h1 class="text-2xl font-bold mb-4">Éditer un item</h1>
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Enregistrer</button>
    {{ form_end(form) }}
</div>

{% if is_granted('ROLE_ADMIN') %}
    <a href="{{ path('app_admin_index') }}">Retour vers le dashboard admin</a>
{% else %}
    <a href="{{ path('app_profile') }}">Retour vers le profil</a>
{% endif %}

{{ include('item/_delete_form.html.twig') }}
{% endblock %}



