{% extends 'base.html.twig' %}

{% block title %}Éditer un item{% endblock %}

{% block body %}
<div class="p-6 bg-white dark:bg-gray-dark dark:text-white">
    <h1 class="text-2xl font-bold mb-4">Éditer un item</h1>

<div class="flex flex-col p-6 gap-6">
  <form method="POST" enctype="multipart/form-data" action="{{path('app_item_edit', {'id': item.id}) }}">
    
    {{ form_widget(form._token) }} 

    {% for field in [form.name, form.brand, form.color, form.type, form.fit, form.material, form.partnerUrl] %}
        <div class="flex flex-col">
            {{ form_label(field, null, { 'attr': { 'class': 'font-bold text-lg' } }) }}
            {{ form_widget(field, { 'attr': { 'class': 'bg-gray p-2 rounded border border-gray-medium dark:bg-gray dark:text-white' } }) }}
        </div>
    {% endfor %}

        <div class="flex flex-row gap-2">
            <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                Enregistrer
            </button>

            <button type="submit">
                {{ include('item/_delete_form.html.twig') }}
            </button>
        </div>  

        {{ form_rest(form) }}

    </form>  
</div>


{% endblock %}



