{% macro outfit_card(outfit) %}
    <div class="outfit-item block bg-transparent shadow-md"
        data-name="{{ outfit.name | lower }}">

        <a href="{{ path('app_outfit_show', {'id': outfit.id, 'from': 'social'}) }}">
            <div class="relative w-full" style="padding-bottom: 100%;">
                <img src="{{ outfit.imageUrl }}" alt="{{ outfit.name }}" class="absolute inset-0 w-full h-full object-cover">
            </div>

            <h2 class="text-xl font-semibold mb-2 p-2" style="font-family: var(--font-display);">{{ outfit.name }}</h2>
        </a>

        <div class="flex items-center justify-between p-2">
            <button type="button" class="bg-transparent text-purple-600 p-2 rounded hover:text-purple-800 flex items-center space-x-1" onclick="toggleLike({{ outfit.id }}, 'outfit')">
                <span>💜</span>
                <span id="likes-count-{{ outfit.id }}" class="text-black dark:text-white">
                    {{ outfit.likes|length }}
                </span>
            </button>

            <div class="flex items-center space-x-2">
                {% if app.user %}
                    <button type="button" class="px-4 py-2 text-black dark:text-white rounded hover:bg-valid-dark transition" onclick="document.getElementById('add-to-my-outfits-{{ outfit.id }}').submit();">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M17.593 3.322c1.1.128 1.907 1.077 1.907 2.185V21L12 17.25 4.5 21V5.507c0-1.108.806-2.057 1.907-2.185a48.507 48.507 0 0 1 11.186 0Z" />
                        </svg>                          
                    </button>
                    <form id="add-to-my-outfits-{{ outfit.id }}" method="post" action="{{ path('app_outfit_add_to_user', {'id': outfit.id}) }}" style="display: none;"></form>
                {% endif %}
            </div>
        </div>

        <div class="items-info" style="display: none;">
            {% for item in outfit.items %}
                <span class="item-name" data-name="{{ item.name | lower }}">{{ item.name }}</span>
                <span class="item-brand" data-brand="{{ item.brand | lower }}">{{ item.brand }}</span>
                <span class="item-color" data-color="{{ item.color | lower }}">{{ item.color }}</span>
                <span class="item-type" data-type="{{ item.type | lower }}">{{ item.type }}</span>
                <span class="item-fit" data-fit="{{ item.fit | lower }}">{{ item.fit }}</span>
                <span class="item-material" data-material="{{ item.material | lower }}">{{ item.material }}</span>
            {% endfor %}
        </div>
    </div>
{% endmacro %}

{% macro item_card(item) %}
<div class="bg-white/10 p-6 text-center item-card dark:text-white dark:bg-purple rounded-lg shadow-lg hover:shadow-xl transition-shadow duration-300">
    <h2 class="text-xl sm:text-2xl font-semibold dark:text-white text-gray-800">{{ item.name }}</h2>
    <p class="text-lg dark:text-white text-gray-600">Marque: {{ item.brand }}</p>
    <p class="text-lg dark:text-white text-gray-600">Couleur: {{ item.color }}</p>
    <div class="mt-4">
        {% if item.partnerUrl is not empty %}
            <a href="{{ item.partnerUrl }}" class="px-4 py-2 bg-green-500 dark:text-white text-white rounded-full hover:bg-green-600 transition-colors duration-300" target="_blank">Acheter</a>
        {% else %}
            <p class="text-gray-500 dark:text-white">Pas de lien disponible</p>
        {% endif %}
    </div>
    <div class="mt-4 flex justify-between items-center">
        {% if is_granted('EDIT', item) %}
            <a href="{{ path('app_item_edit', {'id': item.id, 'itemId': item.id}) }}" class="text-blue-500 hover:text-blue-700 transition-colors duration-300">Éditer</a>
        {% endif %}
        {% if is_granted('DELETE', item) %}
            <form method="post" action="{{ path('app_item_delete', {'id': item.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet item ?');">
                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ item.id) }}">
                <button class="text-red-500 hover:text-red-700 transition-colors duration-300">Supprimer</button>
            </form>
        {% endif %}
    </div>
</div>
{% endmacro %}

{% macro my_outfit_card(outfit) %}
<div class="relative w-full h-72 sm:h-96 md:h-112  rounded-lg overflow-hidden shadow-lg">
<a href="{{ path('app_outfit_show', {'id': outfit.id, 'from': 'profile'}) }}">
    <img src="{{ outfit.imageUrl }}" alt="{{ outfit.name }}" class="w-full h-full object-cover">
</a>
<div class="absolute bottom-0 left-0 right-0 bg-purple bg-opacity-60 text-white p-4 flex justify-between items-center">
    {% if is_granted('EDIT', outfit) %}
        <a href="{{ path('app_outfit_edit', {'id': outfit.id}) }}" class="text-blue-400 hover:text-blue-600">Éditer</a>
    {% endif %}
    {% if is_granted('DELETE', outfit) %}
        <form method="post" action="{{ path('app_outfit_delete', {'id': outfit.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette tenue ?');">
            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ outfit.id) }}">
            <button class="text-red-400 hover:text-red-600">Supprimer</button>
        </form>
    {% endif %}
</div>
</div>
{% endmacro %}



